body {
  background-color: #0096c7;
  text-align: center;
  color: white;
}

h1 {
  margin: auto;
  padding-bottom: 20px;
}

h2 {
  font-size: 30px;
}

table {
  margin: auto;
}

td {
  height: 50px;
  width: 50px;
  margin: auto;
  font-size: 25px;
  color: white;
  border: 2px solid black;
}

.levels {
  color: #d62828;
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: #0077b6;
}

.restart {
  margin: 20px;
  width: 150px;
  height: 50px;
  background-color: rgb(146, 50, 50);
  color: white;
  font-size: 30px;
  display: none;
}

.safeTimerDisplay {
  background-color: #023e8a;
  margin: auto;
  margin-top: 40px;
  padding-top: 15px;
  width: 94px;
  height: 31px;
}
